@import url(https://fonts.googleapis.com/css?family=Roboto);
// center 
body {
  align-items: center;
  background: #BB8AB8;
  display: flex;
  justify-content: center;
}

.main-nav {
  align-items: center;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Roboto', serif;
  height: 50px;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  
  >li {
    cursor: pointer;
    flex-basis: 100px;
    transition: 0.2s;
  }
  
  >li:nth-child(4) {
    margin-left: auto;
  }
  
  >li:hover {
    color: #BB8AB8;
  }
}